<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
{{> header }}
{{ scream_it welcome_message }}
<main>
    <section>
        <p>Some text here</p>
    </section>
</main>
{{> footer }}
</body>
</html>