<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
<header>
    <h1>{{ page_title }}</h1>
</header>
<main>
    <section>
        <p>We'll be back up and running soon!</p>
        <p>The site is currently being updated</p>
    </section>
</main>
{{> footer }}
</body>
</html>