<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
{{> header }}
<main>
    <section>
        <h2>Portfolio page</h2>
        <h3>node-course-2-web-server</h3>
        <article>
            <p>This course included building a web server in NodeJs and ExpressJS, git version control system and
                deploying to heroku via the Command Line Interface (CLI).</p>
        </article>
    </section>
</main>
{{> footer }}
</body>
</html>